<section>

	<input #volumeRange title="volume" type="range" min="-90" max="0" step="1" [(ngModel)]="volume" (ngModelChange)="setVolume($event)">
	<button #play (click)="togglePlay()">Play</button>

	<app-theremin #theremin></app-theremin>
	<app-keyboard #keyboard></app-keyboard>

	<app-envelope #envelope1></app-envelope>
	<app-oscillator #oscillator1 [envelope]="envelope1.envelope"></app-oscillator>

	<app-envelope #envelope2></app-envelope>
	<app-oscillator #oscillator2 [envelope]="envelope2.envelope"></app-oscillator>


</section>