<section>

	<aside>
		<app-side-nav></app-side-nav>
	</aside>

	<input #volumeRange title="volume" type="range" min="-90" max="0" step="1" [(ngModel)]="volume" (ngModelChange)="setVolume($event)">
	<button #play (click)="togglePlay()">Play</button>

	<app-theremin #theremin></app-theremin>
	<app-keyboard #keyboard></app-keyboard>

	<app-envelope #envelope1></app-envelope>
	<app-oscillator #oscillator1 [envelope]="envelope1.envelope"></app-oscillator>

	<app-waveform-visualizer #visualizer></app-waveform-visualizer>
	<app-oscillator #oscillator2 [waveform]="visualizer.waveform"></app-oscillator>

</section>