<section>

	<label for="type">Waveform:
		<select id="type" title="Waveform type" [(ngModel)]="osc.type" (ngModelChange)="setType($event)">
			<option *ngFor="let value of waveforms">{{value}}</option>
		</select>
	</label>

	<label for="frequency">Frequency:
		<input #frequencyRange title="frequency" id="frequency" type="range" min="0" max="24000" step="1" [(ngModel)]="osc.frequency" (ngModelChange)="setFrequency($event)">
	</label>

	<label for="volume">Volume:
		<input #volumeRange title="volume" id="volume" type="range" min="-90" max="0" step="1" [(ngModel)]="osc.volume" (ngModelChange)="setVolume($event)">
	</label>

	<label for="phase">Phase:
		<input #phaseRange title="phase" id="phase" type="range" min="0" max="360" step="1" [(ngModel)]="osc.phase" (ngModelChange)="setPhase($event)">
	</label>

	<label for="detune">Detune:
		<input #phaseRange title="detune" id="detune" type="range" min="0" max="4" step=".1" [(ngModel)]="osc.detune.value" (ngModelChange)="setDetune($event)">
	</label>

	<label for="mute">Mute:
		<input #muteCheckbox title="volume" id="mute" type="checkbox" [(ngModel)]="osc.mute" (ngModelChange)="mute($event)">
	</label>

	<label for="stop">Stop:
		<input #muteCheckbox title="stop" id="stop" type="checkbox" [(ngModel)]="stopped" (ngModelChange)="stopped ? stop() : start()">
	</label>

</section>