<section>

	<button #play (click)="togglePlay()">Play</button>

	<select title="Waveform type" #waveform (change)="readWaveformType()">
		<option>sine</option>
		<option>square</option>
		<option>sawtooth</option>
		<option>triangle</option>
	</select>

	<input #tone style="width:100%" title="tone" type="range" value="440" min="0" max="24000" step="1" (mousemove)="setTone(tone.value)">

	<
	<input title="lowerKey" type="number" [value]="keyboard.lowerKey" min="-12" max="60" step="1" (input)="keyboard.lowerKey = +$event.target.value">
	<input title="upperKey" type="number" [value]="keyboard.upperKey" min="60" max="120" step="1" (input)="keyboard.upperKey = +$event.target.value">
	<input title="octave" type="number" [value]="keyboard.octave" min="-1" max="10" step="1" (input)="keyboard.octave = +$event.target.value">
	<input title="octaves" type="number" [value]="keyboard.octaves" min="0" max="10" step="1" (input)="keyboard.octaves = +$event.target.value">
	<app-keyboard #keyboard [lowerKey]="keyboard.lowerKey" [upperKey]="keyboard.upperKey" [octave]="keyboard.octave" [octaves]="keyboard.octaves"></app-keyboard>

</section>