<div class="component-container">
	<select title="Waveform type" #waveform (change)="setWaveformType(waveform.value)">
		<option>sine</option>
		<option>square</option>
		<option>sawtooth</option>
		<option selected>triangle</option>
	</select>

	<input #voices min="0" max="16" type="number" value="6" (change)="setVoices(voices.value)">
	<div #pad class="pad" (mousedown)="start()" (mouseup)="stop()" (touchstart)="start()" (touchend)="stop()" (mousemove)="onMouseMove($event)" (touchmove)="onTouchMove($event)"></div>
</div>
