$size: 400px;
$pad-size: $size - 50px;

:host
{
	display:block;
	padding:15px;
}

.component-container
{
	max-width: $size;
	max-height: $size;
}

.pad
{
	width:$pad-size;
	height:$pad-size;
	border:double thin white;
	display: inline-block;
}

.dot{
	position:relative;
	top:0;
	left:0;
	color:white;
	user-select: none;
	display:block;
	margin-left:-3px;
	margin-top:-4px;
}

input[type=range][orient=vertical]
{
	writing-mode: bt-lr; /* IE */
	-webkit-appearance: slider-vertical; /* WebKit */
	width: 8px;
	padding: 0 5px;
}

.xRange
{
	width:$pad-size;
}

input[type=range][orient=vertical].yRange
{
	display:inline-block;
	height:$pad-size;
	margin-left:5px;
}