$height: 500px;
$pad-size: 450px;
$plain: #121517;
$parameters-width: 200px;

$width: $pad-size + $parameters-width;

:host
{
	margin: 10px;
	position: relative;

	max-width: $width;
	max-height: $height;

	border: $plain solid 5px;
	display: flex;
	flex-direction: row;
	//flex-wrap: nowrap;
	align-items: stretch;
	align-content: stretch;
}

.parameters
{
	background: $plain;

	order: 0;
	width: $parameters-width;
}

.pad
{
	order: 1;

	width: $pad-size;
	height: $pad-size;
	background: lighten($plain, 10);
	cursor: none;
	position: relative;

	.dot
	{
		position: absolute;
		top: 0;
		left: 0;
		color: white;
		user-select: none;
		display: block;
		margin-left: -3px;
		margin-top: -4px;
		max-width: 10px;
		max-height: 10px;
	}

	.notes
	{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: stretch;
		justify-content: flex-start;
		height: 100%;

		.note
		{
			width: 10px;
			height: 100%;
			border: thin solid floralwhite;
			flex: auto 1;
		}
	}
}


input[type=range][orient=vertical]
{
	writing-mode: bt-lr; /* IE */
	-webkit-appearance: slider-vertical; /* WebKit */
	width: 8px;
	padding: 0 5px;
}

.xRange
{
	width: $pad-size;
}

input[type=range][orient=vertical].yRange
{
	display: inline-block;
	height: $pad-size;
	margin-left: 5px;
}