$size: 400px;
$pad-size: $size - 40px;

:host
{
	display:block;
	position:relative;
	max-width: $size;
	max-height: $size;
}

.pad
{
	position:relative;
	top:0;
	left:0;
	width:$pad-size;
	height:$pad-size;
	border:double thin white;
	display: inline-block;
}

input[type=range][orient=vertical]
{
	writing-mode: bt-lr; /* IE */
	-webkit-appearance: slider-vertical; /* WebKit */
	width: 8px;
	padding: 0 5px;
}

.xRange
{
	width:$pad-size;
}

input[type=range][orient=vertical].yRange
{
	display:inline-block;
	float: right;
	height:$pad-size;
}