<select title="Waveform type" #waveform (change)="setWaveformType(waveform.value)">
	<option>sine</option>
	<option>square</option>
	<option>sawtooth</option>
	<option>triangle</option>
</select>

<input #tone style="width:100%" title="tone" type="range" value="0" min="0" max="{{maxFrequency}}" step="1" (mousemove)="setTone(tone.value)" (touchmove)="setTone(tone.value)">

<div class="pad" (mousedown)="start()" (mouseup)="stop()" (touchstart)="start()" (touchend)="stop()" (mousemove)="onMouseMove($event)" (touchmove)="onTouchMove($event)"></div>