<section>

	<label for="attack">Attack</label>
	<input #attackRange title="attack" id="attack" type="range" min="0" max="5" step=".1" [(ngModel)]="envelope.attack" (ngModelChange)="setAttack($event)">

	<label for="decay">Decay</label>
	<input #decayRange title="decay" id="decay" type="range" min="0" max="5" step=".1" [(ngModel)]="envelope.decay" (ngModelChange)="setDecay($event)">

	<label for="sustain">Sustain</label>
	<input #sustainRange title="sustain" id="sustain" type="range" min="0" max="5" step=".1" [(ngModel)]="envelope.sustain" (ngModelChange)="setSustain($event)">

	<label for="release">Volume</label>
	<input #releaseRange title="release" id="release" type="range" min="0" max="5" step=".1" [(ngModel)]="envelope.release" (ngModelChange)="setRelease($event)">

</section>