<div class="app">

	<button *ngIf="(showSidenav$ | async) === false" class="hamburger hamburger--collapse" type="button" (click)="openSidenav()">
		  <span class="hamburger-box">
			<span class="hamburger-inner"></span>
		  </span>
	</button>

	<button *ngIf="showSidenav$ | async" class="hamburger hamburger--collapse is-active" type="button" (click)="closeSidenav()">
		  <span class="hamburger-box">
			<span class="hamburger-inner"></span>
		  </span>
	</button>

	<aside class="side-nav" *ngIf="showSidenav$ | async">
		<a [routerLink]="['/abc']" routerLinkActive="active-link" (click)="closeSidenav()">abc</a>
		<a [routerLink]="['/def']" routerLinkActive="active-link" (click)="closeSidenav()">def</a>
		<a [routerLink]="['/ghi']" routerLinkActive="active-link" (click)="closeSidenav()">ghi</a>
		<a [routerLink]="['/jkl']" routerLinkActive="active-link" (click)="closeSidenav()">jkl</a>
	</aside>

	<router-outlet #appGlobalOutlet="outlet"></router-outlet>
</div>