<div class="app">
	<button (click)="openSidenav()">open</button>
	<button (click)="closeSidenav()">close</button>

	<div *ngIf="showSidenav$ | async">
		a<br>
		b<br>
		c<br>
		d<br>
	</div>

	<a [routerLink]="['/abc']" routerLinkActive="active-link">abc</a>
	<a [routerLink]="['/def']" routerLinkActive="active-link">def</a>
	<a [routerLink]="['/ghi']" routerLinkActive="active-link">ghi</a>
	<a [routerLink]="['/jkl']" routerLinkActive="active-link">jkl</a>

	<router-outlet #appGlobalOutlet="outlet"></router-outlet>
</div>