<div>
	<section class="controls">
		<input title="lowerKey" type="number" [value]="keyboard.lowerKey" min="-12" max="60" step="1" (input)="keyboard.lowerKey = +$event.target.value">
		<input title="upperKey" type="number" [value]="keyboard.upperKey" min="60" max="120" step="1" (input)="keyboard.upperKey = +$event.target.value">
		<input title="octave" type="number" [value]="keyboard.octave" min="-1" max="10" step="1" (input)="keyboard.octave = +$event.target.value">
		<input title="octaves" type="number" [value]="keyboard.octaves" min="0" max="10" step="1" (input)="keyboard.octaves = +$event.target.value">
	</section>

	<app-keyboard-keys #keyboard [lowerKey]="keyboard.lowerKey" [upperKey]="keyboard.upperKey" [octave]="keyboard.octave" [octaves]="keyboard.octaves"></app-keyboard-keys>
</div>