.keyboard
{

}

.key
{
	display:inline-block;
	vertical-align: top;
	margin:1px;
	text-align: center;
}

.key_natural
{
	width:50px;
	padding:90px 0 0 0;
	background-color: #97b2c3;
	border: black thin solid;
	color:black;
}

.key_sharp
{
	width:35px;
	padding:30px 0 0 0;
	background-color: #121517;
	border: white thin solid;
	color: white;
}