.key
{
	font-size: 0.7em;
	display:inline-block;
	vertical-align: top;
	margin:1px;
	text-align: center;
	user-select: none;
	cursor:pointer;

	transition: background-color 100ms ease-in ;
}

.key--natural
{
	width:50px;
	padding:90px 0 3px 0;
	background-color: #97b2c3;
	border: black thin solid;
	color:black;

	&.key--pressed
	{
		background-color: #b9d7e8;
	}
}

.key--sharp
{
	width:35px;
	padding:40px 0 3px 0;
	background-color: #121517;
	border: black thin solid;
	color: white;

	margin-left: -20px;
	margin-right: -20px;
	position: relative;
	z-index: 100;

	&.key--pressed
	{
		background-color: #596163;
	}
}