.key
{
	font-size: 0.7em;
	display:inline-block;
	vertical-align: top;
	margin:1px;
	text-align: center;
	user-select: none;
}

.key_natural
{
	width:50px;
	padding:90px 0 3px 0;
	background-color: #97b2c3;
	border: black thin solid;
	color:black;
}

.key_sharp
{
	width:35px;
	padding:30px 0 3px 0;
	background-color: #121517;
	border: black thin solid;
	color: white;

	margin-left: -20px;
	margin-right: -20px;
	position: relative;
	z-index: 100;
}